* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   font-size: 3rem;
   line-height: 1.5;
   background-color: #272452;;
}

.thank-you-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: #eb6d43;
}